<?xml version="1.0" encoding="Gb2312"?>
<bokesystem><system><rs:data xmlns:rs="urn:schemas-microsoft-com:rowset">
			<z:row xmlns:z="#RowsetSchema" s_name="动网博客" s_lastposttime="2007-6-15 18:34:49" s_topicnum="5" s_photonum="0" s_favnum="0" s_usernum="3" s_todaynum="4" s_postnum="0" s_setting="1,1,0,0,0,1,20,20,15,3,1,1,1|0|0|999|bbs.dvbbs.net|12|1|Arial|0|images/WaterMap.gif|0.7|110|35|4|120|100|1|1|1|Boke/UploadFile/|0,晴天|和煦|阴天|清爽|多云|有雾|小雨|中雨|雷雨|彩虹|酷热|寒冷|小雪|大雪|月圆|月缺,sun.gif|sun2.gif|yin.gif|yin.gif|yun.gif|wu.gif|xiaoyu.gif|yinyu.gif|leiyu.gif|caihong.gif|sun.gif|feng.gif|xue.gif|daxue.gif|moon.gif|moon2.gif,50,gif|jpg|jpeg|bmp|png|rar|txt|zip|mid,欢迎大家来到动网博客建立自己的网上家园,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1" s_url="http://www.iboker.com/" s_sdomain="" skinid="1" s_skinname="iBoke 默认风格" s_path="Boke/Skins/Default/" s_viewpic="Boke/Skins/Default/viewlogo.png" s_info="" s_builder="AspSky.Net"/>
		</rs:data>
	</system><syscat><rs:data xmlns:rs="urn:schemas-microsoft-com:rowset">
			<z:row xmlns:z="#RowsetSchema" scatid="1" scattitle="个人空间" scatnote="" ucatnum="3" topicnum="5" postnum="0" todaynum="5" stype="0" lastuptime="2007-6-15 18:34:49"/>
			<z:row xmlns:z="#RowsetSchema" scatid="2" scattitle="电脑网络" ucatnum="0" topicnum="0" postnum="0" todaynum="0" stype="0" lastuptime="2005-9-19 11:28:35"/>
			<z:row xmlns:z="#RowsetSchema" scatid="3" scattitle="经济金融" ucatnum="0" topicnum="0" postnum="0" todaynum="0" stype="0" lastuptime="2005-9-19 11:28:35"/>
			<z:row xmlns:z="#RowsetSchema" scatid="4" scattitle="教育学习" ucatnum="0" topicnum="0" postnum="0" todaynum="0" stype="0" lastuptime="2005-9-19 11:28:35"/>
			<z:row xmlns:z="#RowsetSchema" scatid="5" scattitle="情感绿洲" ucatnum="0" topicnum="0" postnum="0" todaynum="0" stype="0" lastuptime="2005-9-19 11:28:35"/>
			<z:row xmlns:z="#RowsetSchema" scatid="6" scattitle="娱乐休闲" ucatnum="0" topicnum="0" postnum="0" todaynum="0" stype="0" lastuptime="2005-9-19 11:28:35"/>
			<z:row xmlns:z="#RowsetSchema" scatid="7" scattitle="少儿乐园" scatnote="" ucatnum="0" topicnum="0" postnum="0" todaynum="0" stype="0" lastuptime="2005-9-19 11:28:35"/>
			<z:row xmlns:z="#RowsetSchema" scatid="8" scattitle="原创文学" ucatnum="0" topicnum="0" postnum="0" todaynum="0" stype="0" lastuptime="2005-9-19 11:28:35"/>
			<z:row xmlns:z="#RowsetSchema" scatid="9" scattitle="生活百科" ucatnum="0" topicnum="0" postnum="0" todaynum="0" stype="0" lastuptime="2005-9-19 11:28:35"/>
			<z:row xmlns:z="#RowsetSchema" scatid="10" scattitle="大话天下" ucatnum="0" topicnum="0" postnum="0" todaynum="0" stype="0" lastuptime="2005-9-19 11:28:35"/>
			<z:row xmlns:z="#RowsetSchema" scatid="11" scattitle="体育竞技" ucatnum="0" topicnum="0" postnum="0" todaynum="0" stype="0" lastuptime="2005-9-19 11:28:35"/>
			<z:row xmlns:z="#RowsetSchema" scatid="12" scattitle="旅游自然" ucatnum="0" topicnum="0" postnum="0" todaynum="0" stype="0" lastuptime="2005-9-19 11:28:35"/>
			<z:row xmlns:z="#RowsetSchema" scatid="13" scattitle="网络游戏" ucatnum="0" topicnum="0" postnum="0" todaynum="0" stype="0" lastuptime="2005-9-19 11:28:35"/>
			<z:row xmlns:z="#RowsetSchema" scatid="14" scattitle="班级集体" ucatnum="0" topicnum="0" postnum="0" todaynum="0" stype="0" lastuptime="2005-9-19 11:28:35"/>
			<z:row xmlns:z="#RowsetSchema" scatid="15" scattitle="政法军事" ucatnum="0" topicnum="0" postnum="0" todaynum="0" stype="0" lastuptime="2005-9-19 11:28:35"/>
			<z:row xmlns:z="#RowsetSchema" scatid="16" scattitle="电子商务" ucatnum="0" topicnum="0" postnum="0" todaynum="0" stype="0" lastuptime="2005-9-19 11:28:35"/>
		</rs:data>
	</syscat><syschatcat><rs:data xmlns:rs="urn:schemas-microsoft-com:rowset">
			<z:row xmlns:z="#RowsetSchema" scatid="17" scattitle="日记" ucatnum="0" topicnum="5" postnum="0" todaynum="5" stype="1" lastuptime="2007-6-15 18:34:49"/>
			<z:row xmlns:z="#RowsetSchema" scatid="18" scattitle="知识" ucatnum="0" topicnum="0" postnum="0" todaynum="0" stype="1" lastuptime="2005-9-19 11:28:38"/>
			<z:row xmlns:z="#RowsetSchema" scatid="19" scattitle="读书" ucatnum="0" topicnum="0" postnum="0" todaynum="0" stype="1" lastuptime="2005-9-19 11:28:38"/>
			<z:row xmlns:z="#RowsetSchema" scatid="20" scattitle="心情" ucatnum="0" topicnum="0" postnum="0" todaynum="0" stype="1" lastuptime="2005-9-19 11:28:38"/>
			<z:row xmlns:z="#RowsetSchema" scatid="21" scattitle="生活" ucatnum="0" topicnum="0" postnum="0" todaynum="0" stype="1" lastuptime="2005-9-19 11:28:38"/>
			<z:row xmlns:z="#RowsetSchema" scatid="22" scattitle="体育" ucatnum="0" topicnum="0" postnum="0" todaynum="0" stype="1" lastuptime="2005-9-19 11:28:38"/>
			<z:row xmlns:z="#RowsetSchema" scatid="23" scattitle="下载" ucatnum="0" topicnum="0" postnum="0" todaynum="0" stype="1" lastuptime="2005-9-19 11:28:38"/>
			<z:row xmlns:z="#RowsetSchema" scatid="24" scattitle="数码" ucatnum="0" topicnum="0" postnum="0" todaynum="0" stype="1" lastuptime="2005-9-19 11:28:38"/>
			<z:row xmlns:z="#RowsetSchema" scatid="25" scattitle="帖图" ucatnum="0" topicnum="0" postnum="0" todaynum="0" stype="1" lastuptime="2005-9-19 11:28:38"/>
			<z:row xmlns:z="#RowsetSchema" scatid="26" scattitle="电影" ucatnum="0" topicnum="0" postnum="0" todaynum="0" stype="1" lastuptime="2005-9-19 11:28:38"/>
			<z:row xmlns:z="#RowsetSchema" scatid="27" scattitle="音乐" ucatnum="0" topicnum="0" postnum="0" todaynum="0" stype="1" lastuptime="2005-9-19 11:28:38"/>
			<z:row xmlns:z="#RowsetSchema" scatid="28" scattitle="网络" ucatnum="0" topicnum="0" postnum="0" todaynum="0" stype="1" lastuptime="2005-9-19 11:28:38"/>
			<z:row xmlns:z="#RowsetSchema" scatid="29" scattitle="软件" ucatnum="0" topicnum="0" postnum="0" todaynum="0" stype="1" lastuptime="2005-9-19 11:28:38"/>
			<z:row xmlns:z="#RowsetSchema" scatid="30" scattitle="开发" ucatnum="0" topicnum="0" postnum="0" todaynum="0" stype="1" lastuptime="2005-9-19 11:28:38"/>
			<z:row xmlns:z="#RowsetSchema" scatid="31" scattitle="传媒" ucatnum="0" topicnum="0" postnum="0" todaynum="0" stype="1" lastuptime="2005-9-19 11:28:38"/>
			<z:row xmlns:z="#RowsetSchema" scatid="32" scattitle="交易" ucatnum="0" topicnum="0" postnum="0" todaynum="0" stype="1" lastuptime="2005-9-19 11:28:38"/>
		</rs:data>
	</syschatcat><topnews>&lt;img src="boke/images/index_img.gif" align="left" alt=""/&gt;&amp;nbsp;&lt;font color="#ff0000"&gt;本站博客正式对外开放&lt;br/&gt;
欢迎大家来到本站的博客系统建立自己的网上家园！&lt;br/&gt;
&lt;/font&gt;&lt;hr class="post"/&gt;请注意文明、坦诚、平等交流，对事不对人，尊重别人看法，哪怕有不全面的地方</topnews><managenews>&lt;b&gt;系统通知&lt;/b&gt;
&lt;li&gt;论坛博客系统正式开放&amp;nbsp;&lt;br/&gt;
请注意文明、坦诚、平等交流，对事不对人，尊重别人看法，哪怕有不全面的地方 &lt;/li&gt;</managenews></bokesystem>
