<webgame_api><popwan unionurl="http://union.popwan.com/webmasterreg/" apiurl="http://union.popwan.com" bbsname="动网先锋论坛" bbsurl="http://bbs.dvbbs.net" gamesite="http://u.popwan.com/yourname" pluginversion="ASP 1.2 For DVBBS 8.2" addtime="" joined="0" key="" siteid="" isupdate="1" updatetime="10/22/2008 9:38:06 AM"/><masterselgames><game/></masterselgames></webgame_api>
