<xml xmlns:s="uuid:BDC6E3F0-6DA3-11d1-A2A3-00AA00C14882" xmlns:dt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882" xmlns:rs="urn:schemas-microsoft-com:rowset" xmlns:z="#RowsetSchema">
	<rs:data>
		<z:row userid="0" username="YourName" nickname="NickName" bokename="YourBokeName" password="" boketitle="DvBoke Demo - BokeTitle" bokechildtitle="Boke Intro" bokenote="" joinboketime="2005-8-10 4:59:21" pageview="0" topicnum="0" favnum="0" photonum="0" postnum="0" todaynum="0" trackbacks="0" spacesize="-1" xmldata="" syscatid="0" bokesetting="1,0,4,15,1,2,15,15,20,12,15,10,boke/images/sex/footmark1.gif,boke/images/sex/footmark2.gif,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1" lastuptime="2005-8-11 18:00:00" skinid="1" s_name="Dv_Boke 默认风格" s_path="Boke/Skins/Default/" s_builder="AspSky.Net" stats="0"/>
	</rs:data>
	<boketopic/>
	<bokelink/>
	<bokephoto/>
	<bokepost/>
	<bokekeyword/>
</xml>
