<?xml version="1.0" encoding="Gb2312"?>
<index><newjoinboker lasttime="2006-11-3 12:02:26">
	</newjoinboker><hotboker lasttime="2006-11-3 12:02:26">
	</hotboker><topiclist lasttime="2006-11-3 12:02:27">
	</topiclist><postlist lasttime="2006-11-3 12:02:27">
	</postlist><newphotos lasttime="2006-11-3 12:02:27">
	</newphotos><upboker lasttime="2006-11-3 12:02:27">
	</upboker><weektopiclist lasttime="2006-11-3 12:02:27">
	</weektopiclist><linklist lasttime="2006-11-3 12:02:27">
	</linklist></index>
