/* 全局定义 */
body, td,th {
	font-family:Arial, Helvetica, sans-serif;font-size:12px;line-height : normal;
}
body {
	margin: 0;
	text-align: center;
	padding:0;
	color: white;
	background:#44B6FA url(page_bg.gif) repeat-x top left;
}

a {
	color: white;
	text-decoration: underline;
}
a:visited {
	color: white;
}
a:hover {
	color: white;
	text-decoration: underline;
}
ul {
	margin: 0px;
	padding: 0px;
}
img {border: none;}
.space{clear:both;}
.button{
	border:2px outset #98BBD7; background:#EFF6FB; cursor : pointer;
}
table,div,li{
	word-wrap : break-word ;word-break : break-all ;
}
table.spacetable{
	text-align:left;
	color:#000;
	width:98%;

}
th{
	background:url("bg1.gif") #569CFC;
	height:24px;
	line-height:24px;
	border:1px solid #559AE4;
}
table.spacetable th{
	color:white;
	height:20px;
	text-indent:15px;
}

table.spacetopic th{
	color:white;
	height:20px;
}
table.spacetopic a,td{
	color:#000;
}
table.spacetopic a:visited,table.spacetopic a:hover{
	color:#004284;
}
.border0{ padding-top:4px;
}
.border1{
	border-bottom:1px  dotted gray; height:22px; line-height:22px;
}
.border2{
	background-color:#D5EAF6;
	border-bottom:1px  dotted gray;
	 line-height:22px;
}


/* 页面宽度设置 */
#top,#head,#menus,#footer,#spacemain
{
	margin:0 auto;
	min-width: 760px;
	width: 952px;
}

/* 页面左右边框设置 */
div.left,div.right{
	background-color:#3399CC;
	width:3px;
	height: 100%;
}

/* 顶部信息 */
#top{
	margin-top:7px;
	height: 18px;
	padding:0px;
	color:white;
	/*
	background-color: #3399CC;
	border-bottom:1px solid white;
	*/
}
#top div.left{float: left;width:0px;}
#top div.right{float:right;width:0px;}
#top div.center{
	height:15px;
	line-height:15px;
	float: left;
	text-align: right;
	width: 98%;
}
/*--------------------------------- */

/* 顶部 */
#head{
	height: 60px;
	padding:0px;
	color:white;
	/*
	background-color:#569CFC;
	*/
}

#head div.left{float:left;width:0px;}
#head div.right{float:right;width:0px;}
#head div.center{
	margin:5px 10px 5px 10px;
	float: left;
	text-align: left;
	width: 98%;
}
#head div.center .title{
	font-size: 16px;
	font-weight:bold;
	height:30px;
	line-height:30px;
	overflow: hidden; margin:0px; padding:0px;
}
#head div.center .intro{
	width: 100%; height:20px; margin:0px; padding:0px;
}


/*--------------------------------- */

/* 导航部份 */
#menus{
	border-bottom:0px solid #3399CC;
	height: 30px !important;
	height: 29px;
}
#menus div.left{float:left;width:0px;}
#menus div.right{float:right;width:0px;}
#menus div.center{
	float:left;
	line-height:normal;

}
#menus ul{
	padding:0px 50px 0 0px;
	list-style:none;
}
#menus li{
	margin:0;
	padding:0;
	float:right;
}
#menus li a{
	/*background:url("menuleft.gif") no-repeat left top;*/
	text-decoration:none;
}
#menus li a span{
	margin-top:1px;
	margin-left:1px;
	background:white;
	border:2px solid #086BAB;
	border-bottom:0px;
	/*background:url("menuright.gif") no-repeat right top;*/
	padding:8px 8px 4px 8px;
    color:#0067A9;
	display:block;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#menus li a span {float:none;}
 /* End IE5-Mac hack */


/*--------------------------------- */
/* 管理工具样式 */
#spacetool{
	height:80px;
	width:96%;
	margin:0 auto;
	clear:both;	
}
#spacetool table{
	background-color:#FFFFC1;
	border:1px dashed #569CFC;
	color:#000;
}
#spacetool .button{border:0px solid #000; background:#444 url("button_bg.gif"); font-size:12px; color:#fff; height:25px;cursor : pointer; margin-left:2px;}
.cleargif{
	float: right; margin: 2px 5px 0 0;
}
img.block{
	float: left;
	margin: 2px 5px 0 5px;
}
.cleargif , .imgonclick,img.block{
	cursor:pointer;border:0px;
}

#moduledel{
	display:none;
}

/*--------------------------------- */
/* 底部 */
#footer{
	clear:both;
	height:60px;
	margin-top:5px;
}
#footer div.left{float:left;width:0px;}
#footer div.right{float:right;width:0px;}
#footer div.center{
	width:98%;
 float:left;
}
#footer div.copyright{

	text-align:right;
}

#top_style { display:none }
#bot_style { display:none }
.mobule_bot { display:none }
.mobule_top { display:none }


/*--------------------------------- */
/* 中间主体 */
#spacemain{
	color:#000;
	background:white;
	border:1px solid #167CB9;
	border-top:0px;
}
#spacemain a{
	color:#004284;
	text-decoration: none;
}
#spacemain a:visited,#spacemain a:hover{
	color:#004284;
	text-decoration: none;
}

#spacemain div.center{
	clear:both;
	padding:0px
	background:white;
	margin:0px;
	width:100%;
	text-align:center;
}


.column{margin:0px;padding:0px;float:left;overflow:hidden;}
.module{margin:6px 2px 2px 2px;padding:0px;border:1px solid #559AE4;background-color:white;list-style:none;}
.module .title{
	background:url("bg1.gif") #569CFC;
	padding:0px;
	width:100%;
	overflow:hidden;
	font-weight:bold;
	color:white;
	height:25px;
	line-height:25px;
}
.cont{
	padding:5px 0 5px 0;
	text-align:center;
	min-height:50px;
	overflow:hidden;
	background:#fff;
}


#spacemain .topic a,#spacemain .topic a:link,#spacemain .topic a:visited{
	text-decoration: none;
	color:#004284;
	font-size:12px;
	font-weight:100;
}
#spacemain .topic a:hover{
	color:#f60;
	text-decoration: underline;
}


.bottom{
	width:96%;
	height:30px;
	
}
.bottom .bottom1{
	width:49%;float:left;
	text-align:left;
}
.bottom .bottom2{
	width:48%;float:left;
	color:gray;
	text-align:right;
}

.

#temppannal{
	display:none;
}


#LeftChannal{

}
#MainChannal{
}
#MainChannal .module{ 

}

#RightChannal{
}
#LeftChannal,#MainChannal,#RightChannal{
 border:1px dashed #fff;
}
#MainChannal .module .title{
	text-align:left;
}
#LeftChannal .topic,#RightChannal .topic{
	width:96%;
	text-align:left;
}
#LeftChannal .bottom,#RightChannal .bottom{
	display:none;
}
#LeftChannal .bottom2,#RightChannal .bottom2{
	display:none;
}
#MainChannal .bottom{
	border-bottom:1px dashed #569CFC;
}

#MainChannal .topic{
	margin:3px;
	font-size:12px;
	color:#004284;
	text-align:left;
	text-indent:10px;
	padding:3px 0 3px 0;
	background-color:#D5EAF6;
	border-bottom:1px solid #B9D4E4;
}

.hide .cont{display:none;}
.ghost{border:1px dashed gray;}
.float{position:absolute;z-index:100;margin:0px;padding:0px;overflow:hidden;list-style:none;-moz-opacity:.75;filter:Alpha(opacity=75);}
.webNote{border:1px dashed #ffffe0;}
textarea.webNote{overflow:hidden;width:100%;background:transparent;}
#LeftChannal .body1,#RightChannal .body1{
}
#MainChannal .body1{
	float:left;width:50%;
}
/*--------------------------------- */
/*设置菜单样式*/
div.setmenu{border:1px solid #222;padding:3px;color:#222;width: 260px;position:absolute;z-index :100;background-color:#eee;}
div.setmenu .title{margin-top:4px;font-weight:bold;padding:2px;background-color:#eee;border-bottom:3px solid #999;height:22px;line-height:22px;}
div.setmenu .content{
	margin-top:4px;
	padding:2px;
}
div.setmenu ul{
	margin:0px;margin-left:10px;padding:0px;overflow:hidden;list-style:none;
}

#div_layout{
	
}

/* rss 数据显示 */
#rsschannel{

}
#rsschannel ul{
	margin:0;
	padding:0;
	list-style:none;
}

#rsschannel li{
	margin-top:4px;
}


#rsschannel .itemtitle{
	font-size : 14px;
	line-height : 18px;
}

#rsschannel .itemcontent{
	font-size : 12px;
	text-indent : 24px;
	line-height : 18px;
	word-wrap:break-word;
	word-break:break-all;
}

#rsschannel .itemposttime{
	font-size : 12px;
	color:gray;
}

/*--------------------------------- */
/* 新闻菜单模式 */
#newstitle {
	CLEAR: both; MARGIN-BOTTOM: 16px;
}
#newstitle P {
	FLOAT: left; LINE-HEIGHT: 21px;margin:0;
}
#newstitle P.topTit {
	FONT-WEIGHT: bold; WIDTH: 117px;
}
/* 未点击样式标题 */
#newstitle P.tophit0 {
	BACKGROUND: #D5EAF6; BORDER-LEFT: #fff 1px solid; WIDTH: 80px; CURSOR: pointer
}
/* 点击样式标题 */
#newstitle P.tophit1 {
	BACKGROUND: #5298E4; BORDER-LEFT: #f2f2f2 1px solid; WIDTH: 80px; COLOR:#fff;
}
#newstitle #newtitle_bot {
	BORDER-BOTTOM: #5298E4 3px solid;
}
#newstitle #newsbody {
	clear:both;
	LINE-HEIGHT: 26px;
	PADDING-TOP: 10px;
	TEXT-ALIGN: left;
	width:96%;
}
#newstitle .dis {
	DISPLAY: block;
}
#newstitle .undis {
	DISPLAY: none;
}
#newsbody span{

}
/*--------------------------------- */
/* rss 数据显示 */
#rsschannel{

}
#rsschannel ul{
	margin:0;
	padding:0;
	list-style:none;
}

#rsschannel li{
	margin-top:4px;
}

#rsschannel .itemtitle{
	font-size : 12px;
	line-height : 18px;
}

#rsschannel .itemcontent{
	font-size : 12px;
	text-indent : 24px;
	line-height : 18px;
	word-wrap:break-word;
	word-break:break-all;
}

#rsschannel .itemposttime{
	font-size : 12px;
	color:gray;
}
#rsschannel .hide{
	display:none;
}
#rsschannel ol{
	margin:0;padding:0;list-style:none;
}
#rsschannel .category{
	font-size : 12px;
	color:gray;
}

#up_img{
	float:left;
	TEXT-ALIGN: center;
	margin-left:6px;
	width:130px;
	height:120px;
	border : 2px outset transparent;
}
#up_img img.viewshow{
	width:90px;
	height:90px;
	border:0;
}
